<launch>
    <!-- Set the params of yaml file -->
    <rosparam command="load" file="$(find RL_Algorithms)/config/algorithm_param.yaml" />
    <rosparam command="load" file="$(find tiago_navigation)/config/training_param.yaml" />
    <rosparam command="load" file="$(find tiago_navigation)/config/navigation_param.yaml" />
    <rosparam command="load" file="$(find tiago_navigation)/config/tiago_param.yaml" />
    <!-- Launch the training system -->
    <node pkg="tiago_navigation" name="tiago_test_DDPG" type="curriculum_learning.py" output="screen"/>
</launch>